/* @font-face {
  font-family: "Wickedqueen";
  src: local("Wickedqueen"),
    url("../fonts/Wickedqueen-Wyz34.ttf") format("truetype");
  font-weight: normal;
} */

.Homepage-header{
  /* font-family: 'Wickedqueen'; */
  text-align: center;
}

body{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('./background_2.jpeg');
}

.Homepage-Request-Container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}